@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(https://images.unsplash.com/photo-1564352969556-5825e542fa6b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}
a {
  list-style-type: none;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  color: rgb(255, 255, 255);
  width: 200px;
  text-align: center;
  transition: all 0.3s;
}
li:hover {
  transform: scale(1.1);
}
.NavBar {
  background-color: rgb(0, 0, 0);
  height: 140px;
  display: flex;
  justify-content: center;
}
.title {
  display: flex;
  width: 1000px;
  padding: 20px;
  margin: auto;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  font-family: Oswald, sans-serif;
  transition: all 0.3s ease 0s;
  color: white;
}
.title:hover {
  transform: scale(1.1);
}
.Container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem;
}
.card-container {
  display: flex;
  justify-self: center;
  border-radius: 5px;
  max-width: 500px;
  height: 280px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}
.img-card {
  border-radius: 5px 0 0px 5px;
}

.header {
  background-image: url("src/1.png");
  display: flex;
  align-items: center;
}

.header img {
  width: 220px;
  height: 220px;
}
.description {
  padding: 15px;
}
.description h2 {
  font-size: 1rem;
  margin-bottom: 5px;
  font-family: Oswald, sans-serif;
}
.description p {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  border-bottom: 1px solid gainsboro;
  border-top: 1px solid gainsboro;
}
.description h3 {
  margin-top: 10px;
  font-family: Oswald, sans-serif;
  font-size: 1.2rem;
}
.description button {
  position: relative;
  display: flex;
  line-height: 30px;
  padding: 0 1.2rem;
  top: 10%;
  left: 20%;
  border: 0;
  background-color: rgba(138, 137, 137, 0.274);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
button:hover {
  transform: translateY(2px);
}
.stars {
  color: rgb(255, 187, 0);
  margin-top: 5px;
}

.estrellas {
  border-bottom: 1px solid gainsboro;
  padding-bottom: 5px;
}
footer {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: white;
}
