@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
a {
  list-style-type: none;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
ul {
  margin-top: auto;
  margin-bottom: auto;
}
li {
  color: rgb(255, 255, 255);
  width: 200px;
  display: inline-flex;
  justify-content: space-around;
  transition: all 0.3s;
}
li:hover {
  transform: scale(1.1);
}
.NavBar {
  background-color: rgb(0, 0, 0);
  width: auto;
  height: 140px;
  display: flex;
  justify-content: center;
}
.title {
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
  text-align: center;
  font-size: 50px;
  font-family: Oswald, sans-serif;
  transition: all 0.3s ease 0s;
}
.title:hover {
  transform: scale(1.1);
}
.Container {
  width: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 30px;
  margin: 5px;
}
.card-container {
  display: flex;
  width: 454px;
  height: 280px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.marcas-img,
.apple-watch,
.oneplus-watch {
  position: relative;
  width: 150px;
  height: 150px;
  left: 40px;
  bottom: 215px;
}
.apple-watch {
  width: 220px;
  height: 220px;
  bottom: 250px;
  left: 5px;
}
.oneplus-watch {
  position: relative;
  width: 220px;
  height: 220px;
  bottom: 250px;
  left: 5px;
}
.fitbit-watch {
  position: relative;
  width: 220px;
  height: 220px;
  bottom: 250px;
  left: 5px;
}
.huawei-watch {
  position: relative;
  width: 200px;
  height: 200px;
  bottom: 240px;
  left: 15px;
}
.description {
  padding: 15px;
}
.description h2 {
  margin-bottom: 5px;
  font-family: Oswald, sans-serif;
}
.description p {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  border-bottom: 1px solid gainsboro;
  border-top: 1px solid gainsboro;
}
.description h3 {
  margin-top: 10px;
  font-family: Oswald, sans-serif;
  font-size: 1.2rem;
}
.description button {
  position: relative;
  width: 90px;
  height: 39px;
  top: 10px;
  left: 50px;
  background-color: gainsboro;
  font-family: "Fjalla One", sans-serif;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  border: 0;
  transition: all 0.5s;
}
button:hover {
  transform: scale(1.1);
}
.stars {
  color: rgb(255, 187, 0);
  margin-top: 5px;
}

.estrellas {
  border-bottom: 1px solid gainsboro;
  padding-bottom: 5px;
}
footer {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
